<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="PPEAutomationTools" value="https://pkgs.dev.azure.com/mseng/AppInsights/_packaging/PPEAutomationTools/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="nuget3" value="https://api.nuget.org/v3/index.json" />
    <add key="officialfeed" value="https://msazure.pkgs.visualstudio.com/_packaging/official/nuget/v3/index.json" />
    <add key="localForGit" value="..\s\ExternalPackages\" />
  </disabledPackageSources>
</configuration>